In [12]:
import requests
import json
import pandas as pd
from datetime import datetime, timezone
import numpy as np
import pytz

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv('assets/data_ENE00960_R.csv')
df

               DataDate  PM2_5  PM10   Temp    Hum
0       01/10/2023 5:30    7.0   7.0  22.50  99.86
1       01/10/2023 5:31    8.0   9.0  22.40  99.68
2       01/10/2023 5:32    9.0  10.0  22.40  99.16
3       01/10/2023 5:33    7.0   8.0  22.40  99.27
4       01/10/2023 5:34    7.0   7.0  22.40  99.20
...                 ...    ...   ...    ...    ...
177510  29/02/2024 5:25    5.5   6.0  23.55  90.00
177511  29/02/2024 5:26    5.0   5.0  23.60  90.00
177512  29/02/2024 5:27    6.0   7.0  23.60  90.00
177513  29/02/2024 5:28    6.0   6.0  23.60  90.00
177514  29/02/2024 5:29    6.0   6.0  23.60  90.00

[177515 rows x 5 columns]

In [19]:
def process_data_and_post(df):
    # URL of your Flask API
    url = 'http://127.0.0.1:5000//calibration-engine-api/PM25/v1/'  
    
    # Convert DataFrame to JSON
    json_data = df.to_json()

    # Make a POST request to the API
    response = requests.post(url, json=json_data)

    # Check the response
    if response.status_code == 200:
        json_data = response.json()
        df = pd.DataFrame(json_data)
        return df
    else:
        print("Error:", response.status_code, response.text)

In [31]:
df_new = process_data_and_post(df)
df_new

               DataDate  PM2_5  PM10   Temp    Hum  calibrated_PM2_5
0       01/10/2023 5:30    7.0   7.0  22.50  99.86          9.394013
1       01/10/2023 5:31    8.0   9.0  22.40  99.68         10.157335
2       01/10/2023 5:32    9.0  10.0  22.40  99.16         10.051512
3       01/10/2023 5:33    7.0   8.0  22.40  99.27          9.394013
4       01/10/2023 5:34    7.0   7.0  22.40  99.20          9.394013
...                 ...    ...   ...    ...    ...               ...
177510  29/02/2024 5:25    5.5   6.0  23.55  90.00          9.261534
177511  29/02/2024 5:26    5.0   5.0  23.60  90.00          9.435256
177512  29/02/2024 5:27    6.0   7.0  23.60  90.00          9.261534
177513  29/02/2024 5:28    6.0   6.0  23.60  90.00          9.261534
177514  29/02/2024 5:29    6.0   6.0  23.60  90.00          9.261534

[177515 rows x 6 columns]

In [16]:
# Assuming 'data' is your DataFrame
correlation = df_new['PM2_5'].corr(df_new['calibrated_PM2_5'])
print(f"Correlation between calibrated_PM2_5 and PM2.5: {correlation}")

# Calculate R-squared from correlation
r_squared = correlation ** 2
print("R-squared:", r_squared)

TypeError: 'NoneType' object is not subscriptable