In [36]:
import requests
import json
import pandas as pd
from datetime import datetime, timezone
import numpy as np
import pytz

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [37]:
df = pd.read_csv('data_ENE00960_R.csv')
df

               DataDate  PM2_5  PM10  Temp    Hum
0       01/10/2023 5:30    4.0   4.0  22.2  103.0
1       01/10/2023 5:31    6.0   6.0  22.2  103.0
2       01/10/2023 5:32    4.0   4.0  22.2  103.0
3       01/10/2023 5:33    5.0   6.0  22.2  103.0
4       01/10/2023 5:34    4.0   4.0  22.2  103.0
...                 ...    ...   ...   ...    ...
158946  29/02/2024 5:23    8.0   9.0  24.6   90.0
158947  29/02/2024 5:24    8.0   9.0  24.6   90.0
158948  29/02/2024 5:25    7.0   7.0  24.6   90.0
158949  29/02/2024 5:26    6.0   6.0  24.6   90.0
158950  29/02/2024 5:29    8.0   9.0  24.6   90.0

[158951 rows x 5 columns]

In [38]:
def process_data_and_post(df):
    # URL of your Flask API
    url = 'http://127.0.0.1:5000/calibration-engine-api/PM25/v1/'  
    
    # Convert DataFrame to JSON
    json_data = df.to_json()

    # Make a POST request to the API
    response = requests.post(url, json=json_data)

    # Check the response
    if response.status_code == 200:
        json_data = response.json()
        df = pd.DataFrame(json_data)
        return df
    else:
        print("Error:", response.status_code, response.text)

In [39]:
df_new = process_data_and_post(df)
df_new

               DataDate  PM2_5  PM10  Temp    Hum  calibrated_PM2_5
0       01/10/2023 5:30    4.0   4.0  22.2  103.0            34.518
1       01/10/2023 5:31    6.0   6.0  22.2  103.0            39.338
2       01/10/2023 5:32    4.0   4.0  22.2  103.0            34.518
3       01/10/2023 5:33    5.0   6.0  22.2  103.0            36.928
4       01/10/2023 5:34    4.0   4.0  22.2  103.0            34.518
...                 ...    ...   ...   ...    ...               ...
158946  29/02/2024 5:23    8.0   9.0  24.6   90.0            48.324
158947  29/02/2024 5:24    8.0   9.0  24.6   90.0            48.324
158948  29/02/2024 5:25    7.0   7.0  24.6   90.0            45.914
158949  29/02/2024 5:26    6.0   6.0  24.6   90.0            43.504
158950  29/02/2024 5:29    8.0   9.0  24.6   90.0            48.324

[158951 rows x 6 columns]

In [40]:
# Assuming 'data' is your DataFrame
correlation = df_new['PM2_5'].corr(df_new['calibrated_PM2_5'])
print(f"Correlation between calibrated_PM2_5 and PM2.5: {correlation}")

# Calculate R-squared from correlation
r_squared = correlation ** 2
print("R-squared:", r_squared)

Correlation between calibrated_PM2_5 and PM2.5: 0.910559469213697
R-squared: 0.8291185469747296